<table border="1">
    <tr>
        <td>UserId</td>
        <td>
            <input type="text" name="" id="" [(ngModel)]="todo.userId">
        </td>
    </tr>
    <tr>
        <td>Id</td>
        <td>
            <input type="text" name="" id="" [(ngModel)]="todo.id">
        </td>
    </tr>
    <tr>
        <td>Title</td>
        <td>
            <input type="text" name="" id="" [(ngModel)]="todo.title">
        </td>
    </tr>
    <tr>
        <td>Complted</td>
        <td>
            <select type="text" name="" id="" [(ngModel)]="todo.userId">
                <option value="True">True</option>
                <option value="False">False</option>
            </select>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <button on-click="Save()">Save</button>
        </td>
    </tr>
</table>
