  <h1>
    Welcome to {{ title }}!
  </h1>
<!-- Form for user entry is displayed here -->
<span>{{errorMessage}}</span>
<div class="data-form">
  <form #bookForm="ngForm" (ngSubmit)="newCustomer()">

    <div class="form-group">
      <label for="name">Customer ID</label>
      <input name="CustomerId" [(ngModel)]="customer.id" type="text" class="form-control" id="customername"
        placeholder="Enter Customer Id" required>
    </div>

    <div class="form-group">
      <label for="name">Customer Name</label>
      <input name="Customername" [(ngModel)]="customer.name" type="text" class="form-control" id="customername"
        placeholder="Enter Customer Name" required>
    </div>

    <div class="form-group">
      <label for="amount">Amount</label>
      <input name="amount" [(ngModel)]="customer.amount" type="text" class="form-control" id="matchesPlayed"
        placeholder="Enter Amount" required>
    </div>

    <button type="submit" class="btn btn-primary">Add Customer</button>
  </form>
</div>

<!-- Data will be displayed as table here -->

<div class="data-table">
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" colspan="2">Name</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers;index as i">
        <th scope="row">{{i+1}}</th>
        <td colspan="2">{{customer.name}}</td>
        <td>{{customer.amount}}</td>
      </tr>
    </tbody>
  </table>
</div>

