header,footer,main
{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
header
{
    height: 100px;
    background-color: blue;
   
}
header h1
{
    text-align: center;
    color: white;
    padding-top: 30px;
}
main
{
    height: 400px;
    background-color: white;
}
footer
{
    height: 30px;
    background-color: brown;
}