<div class="nav">
    <table>
        <tr>
            <td>
                <a [routerLink]="'/user-dashboard/edit-profile'">Edit Profile</a>
            </td>
            <td>
                <a [routerLink]="'/user-dashboard/add-product'">Add Product</a>
            </td>
            <td>
                <a [routerLink]="'/user-dashboard/view-products'">View Products</a>
            </td>
            <td>
                <a [routerLink]="'/login'">Logout</a>
            </td>
        </tr>
    </table>
</div>
<router-outlet></router-outlet>